name: Test installdeps

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test-installdeps:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install deps
        run: echo "Y" | make installdeps[infer]
